.s__bar{
	width:100%;
	min-height:10px;
	font-weight:bold;
    position: sticky;
    top: 0; // required as well.
	padding:10px;
	!important;
}

.s__bar_content{
	margin-left:auto;
	margin-right:auto;
	padding:7px;
	width:70%;
	text-align: center;
	position:relative;
	border:none;

	display:block;
}

.bottomright {
     position: fixed;
     bottom: 40px;
     right: 40px;
}

.bottomleft {
     position: fixed;
     bottom: 40px;
     left: 40px;
}

.topright {
     position: fixed;
     top: 40px;
     right: 40px;
}

.topleft {
     position: fixed;
     top: 40px;
     left: 40px;
}

.demo {
     background-color: HotPink;
     padding: 20px;
     margin: 5px;
		 border:3px solid #000;
		 font-weight: bolder;
		 cursor: pointer;
		 font-size:18px;
		 z-index:999;
		 animation: wiggle 5s infinite;

}

@keyframes wiggle {
    0% { transform: rotate(0deg); }
   80% { transform: rotate(0deg); }
   85% { transform: rotate(5deg); }
   95% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

/* The Modal (background) */
.cb_modal {
     display: none; /* Hidden by default */
     position: fixed; /* Stay in place */
     z-index: 9999; /* Sit on top */
     left: 0;
     top: 0;
     width: 100%; /* Full width */
     height: 100%; /* Full height */
     overflow: auto; /* Enable scroll if needed */
     background-color: rgb(0,0,0); /* Fallback color */
     background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
   }
   
   .cb_modal-header {
     /* padding: 8px; */
     background-color: #5cb85c;
     color: white;
     padding:20px;
     height:60px;
   }
   
   /* Modal Body */
   .cb_modal-body {padding: 8px;}
   
   /* Modal Footer */
   .cb_modal-footer {
     padding: 2px 16px;
     background-color: #5cb85c;
     color: white;
   }
   
   /* Modal Content */
   .cb_modal-content {
     position: relative;
     background-color: #fefefe;
     margin: auto;
     top:100px;
     padding: 0;
     border: 1px solid #888;
     width: 40%;
     min-height:300px;
     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
     animation-name: animatetop;
     animation-duration: 0.4s
   }
   
   /* Add Animation */
   @keyframes animatetop {
     from {top: -300px; opacity: 0}
     to {top: 0; opacity: 1}
   }
   
   /* The Close Button */
   .cb_close {
     color: #ffffff;
     float: right;
     font-size: 28px;
     font-weight: bold;
     margin-top:-10px;
   }
   
   .cb_close:hover,
   .cb_close:focus {
     color: black;
     text-decoration: none;
     cursor: pointer;
   }
